<head>
    <%- include ('./partials/head.ejs') %>
</head>
  <div class="jumbo">
  <h1> ALGO BLOG</h1>
  </div>

<div class="editcontainer">
  <div class="newphoto">
            <img src="https://images.unsplash.com/photo-1487215078519-e21cc028cb29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="Girl in a jacket" width="600" height="600">
            </div>
  <h1>Edit Yourz</h1>
    <form action="/<%= allSongs.id%>?_method=PUT" method="POST">

      Title: <input type="text" name="title" placeholder="<%=allSongs.title%>" value="<%=allSongs.title%>"><br/>
      Song: <input type="text" name="song" placeholder="<%=allSongs.song%>" value="<%=allSongs.song%>"><br/>
      Entry:<br/><br/> <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="entry" placeholder="<%=allSongs.entry%>" value="<%=allSongs.entry%>"></textarea><br/>
  </form>

    <input class="editsubmit" type="submit" name="" value="SUBMIT CHANGES"/>
  <form action="/<%=allSongs.id%>?_method=DELETE" method="POST">
    <input class="editsubmit" type="submit" value="Delete">
  </form>
    <h2 class="createyourz"><a class="createyourz" href="/<%=allSongs.id%>">Back</a></h2>



</div>
