<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
  </head>
  <body class="body">
  <div class="jumbo">
    <h1> a  l  g  o  B  l  o  g</h1>
    </div>
    <div class="container">
    <%
      for(let i = 0; i < allSongs.length; i++){
    %>
      <div class="hover">
      <a href="/algoblog/<%=allSongs[i].id%>">
        <h2><%= allSongs[i].title%></h2>
      </a>
      </div>
        <iframe src="<%= allSongs[i].song%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <form action="/algoblog/<%= allSongs[i].id %>?_method=DELETE" method="POST">
          <input class="button" type="submit" value="delete">
        </form>
      <% } %>

        <nav>
          <h2><a href="/algoblog/new">Create Yourz</a></h2>
        </nav>
    </div>
  </body>
</html>
