<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
    <body class="showbody">
        <div class="jumbo">
        <h1> ALGO BLOG</h1>
        </div>

      <div class="showcontainer">
        <h2 class="show2"><%=allSongs.title%></h2><br/>
        <h4 class="show4"><%=allSongs.entry%></h4><br/>
        <div class="likebutton">
        <form action="/<%=allSongs.id%>/like?_method=PUT" method="POST">
          <input id="likebutton" type="submit" value="iLOVE: <%=allSongs.likes%>">
        </div>
      </div>
        <div class="bottomcontainer">
        <iframe src="<%= allSongs.song.replace(/track/,'embed/track').replace(/watch\?v\=/,'embed/')%>?autoplay=1" allow="autoplay" width="700" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </br>
      <br/>
        <h2 class="createyourz"><a class="createyourz" href="/<%= allSongs.id %>/edit">Edit</a><br/>
        <br/>
          <nav>
            <h3 class="createyourz"><a class="createyourz" href="/">Back to ALGO BLOG</a>
          </nav>
          </div>
      <script>
      function songlikes(id) {
        console.log(id);
      }
      </script>
    </body>
</html>
