<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
    <body>
        <div class="jumbo">
        <h1> ALGO BLOG</h1>
        </div>

      <div class="showcontainer">
        <h2 class="show2"><%=allSongs.title%></h2><br/>
        <h4 class="show4"><%=allSongs.entry%></h4><br/>
        <div class="likebutton">
        <form action="/algoblog/<%=allSongs.id%>/like?_method=PUT" method="POST">
          <input id="likebutton" type="submit" value="<%=allSongs.likes%>">
        </div>
        <iframe src="<%= allSongs.song%>" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe><br/>
          <a href="/algoblog/<%= allSongs.id %>/edit">Edit</a><br/>
        <nav>
            <a href="/algoblog">Back to algoBlog</a>
        </nav>
      </div>
      <script>
      function songlikes(id) {
        console.log(id);
      }
      </script>
    </body>
</html>
