<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
    <body>
        <div class="jumbo">
        <h1> a l g o B l o g</h1>
        </div>

      <div class="showcontainer">
        <h2 class=show2><%=allSongs.title%></h2><br/>
        <h4><%=allSongs.entry%></h4><br/>
        <iframe src="<%= allSongs.song%>" width="500" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe><br/>


          <a href="/algoblog/<%= allSongs.id %>/edit">Edit</a><br/>
        <nav>
            <a href="/algoblog">Back to algoBlog</a>
        </nav>
      </div>
    </body>
</html>
